image: alpine:latest

stages:
  - build

build:
  stage: build
  script:
    - apk add build-base
    - apk add cmake
    - apk add ncurses
    - mkdir build
    - cd build
    - cmake ..
    - cmake --build .
  artifacts:
    paths:
      - detectwin
    expire_in: 1 week
